{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tubelyzer{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>
